.hutech-uniform2{
    max-width: 100vw;
    padding:0 200px;
    text-align: left;
}
.hutech-uniform2 img{
    width: auto;
}
.project-member-6{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    width: 100vw;
    border: 2px solid black;
    margin-left: -100px;
}
.hutech-uniform2 .grid-2-col{
    gap:0;
    margin-bottom: 50px;
}
.hutech-uniform2 .grid-2-col img{
    place-self: center;
    margin-bottom: 0;
}
.hutech-uniform2 .expand-fullscreen{
    margin-top: 0;
    height: 100%;
    grid-column: 1/3;
    margin-left: -200px;
}
.img-background{
    background-color: #202124;

}
.hutech-uniform2 .expand-fullscreen h2{
    margin-left: 200px;
    /* place-self: center; */
}
.expand-img{
    width: 100vw !important;
    margin-left: -200px;
    /* place-self: center; */
    grid-column: 1/3;
}
.center-imgs{
    display: flex;
    flex-direction: column;
}
.hutech-uniform2 .footer{
    margin-top: -50px;
}
.hutech-uniform2 .expand500{
    background-color: #202124;
    width: 100vw;
    margin-left: -200px;
}
.hutech-uniform2 .back-btn{
    margin-bottom: 100px;
}
@media only screen and (max-width: 1700px) {
    .hutech-uniform1{
        padding: 0 25px
    }
    .hutech-uniform1 .expand-fullscreen{
        margin-left: -25px !important;
    }
    .hutech-uniform1 .footer{
        margin-left:25px;
    }
}