.dragon-bridge{
    padding: 0 200px;
    max-width: 1920px;
    
    color: white;
}
.dragon-bridge .expand-fullscreen{
    background-color: black;
    color: white;
}
.dragon-bridge .content-wrapper{
    display: grid;
    padding: 50px;
    gap: 50px;
    justify-content: center;
    /* width: calc(100vw - 100px); */
}
.dragon-bridge .col-2{
    text-align: left;
    width: fit-content;
}
#descript{
    width: 50%;
    text-align: justify;
}

.dragon-bridge .back-btn{
    margin-bottom: 100px;
}
.dragon-bridge .back-btn a{
    color: white;
}
.dragon-bridge #back-pointer{
    border: white;
    border-style: none none solid solid;
}
.dragon-bridge .contact-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}
.dragon-bridge .contact-wrapper span{
    grid-column: 1/5;
}
.dragon-bridge .footer{
    transform: translateX(50px);
}
