.hutech-uniform1{
    padding: 0 200px;
    max-width: 1920px;
    text-align: left;
    height: fit-content;
}
.project-member-6{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    width: 100vw;
    border: 2px solid black;
    margin-left: -200px !important;
}
.expand-fullscreen img{
 
    display: flex;
    margin: 0 auto;
}

.flex-2-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.result{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
}
.hutech-uniform1 .back-btn{
    margin-bottom: 100px;
}
@media only screen and (max-width: 1700px) {
    .hutech-uniform1{
        padding: 0 25px
    }
    .hutech-uniform1 .expand-fullscreen{
        margin-left: -25px !important;
    }
    .hutech-uniform1 .footer{
        margin-left:25px;
    }
}