.about{
    padding: 0 100px;
    margin-top: -100px;
    font-size: 17px;
}
#journey{
    margin-left: -100px;
    /* margin-top: -100px; */
    position: relative;
    z-index: -1;
    /* transform: translateX(-100px) translateY(-350px); */
    width: 100vw;
}
.about span{
    font-family: rubik-light;

}
.back-btn{
    font-family: rubik-bold;
    display: flex;
    align-items: center;    
}
.about .back-btn{
    position: relative;
    top: 100px;
}


.back-btn a{
    color: #5F5F5F;
    text-decoration: underline;
}
.title #slash{
    margin-right: 10px;
    width: 110px !important;
}
#back-pointer{
    border: #5F5F5F solid;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-style: none none solid solid;
}
.about-introduction{
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
}
.divider{
    width: 250px !important;
    height: 5px !important;
    margin: 50px calc(50% - 125px) !important;
}
.timeline{
    display: grid;
    grid-template-columns: 10% 45% 45%;
}
.timeline{
    text-align: justify;
}
.work-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: 20px; */
}
.work-wrapper span{
    font-size: 18px;
    margin-left: 5px;
}
.work-wrapper #slash{
    transform: rotate(90deg);
    width: fit-content;
}
.prize-container span{
    font-family: rubik-bold;
    color: #3E3E3E;
}
.highlight{
    text-align: justify;
}
.highlight-lines{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
}
.certificates{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.journey{
    color: white;
    display: grid;
    width: 100vw;
    /* padding: 0 50px; */
    margin: 0 0 0 -100px;
    grid-template-columns: 30% 70%;
    background-color: black;
    text-align: justify;
}
.journey .title h1{
    padding: 0 calc(50% * 0.35);
}
.time{
    background: #202020;
    font-family: rubik-bold;
    padding: 0 100px;
}
.journey-content{
    display: grid;
    grid-template-columns: 1fr auto;
    padding-right: 100px;
}
.journey-text{
    display: grid;
    grid-template-rows: auto 1fr 10px;
    gap: 10px;
    text-align: justify;
    margin-bottom: 20px;
    word-break: keep-all;
}
.journey-text span{
    height: fit-content;
}
.journey-text #slash{
    /* transform: rotate(90deg);    */
    margin-left: 0;
    height: auto;
    min-height: 20px;
    width: 5px;
}
.journey-text #dot{
    margin-left: 0;
}
#first-span{
    font-family: rubik;
}
#second-span{
    font-family: rubik-light;
}
.img-container2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 0 20px 20px;
    margin-bottom: 20px;
}
.img-container1{
    padding: 0 20px 20px;
    margin-bottom: 20px;
    text-align: right;
}
.img-container3{
    justify-items: right;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    padding: 0 20px 20px;
    margin-bottom: 20px;
}
.time #slash{
    width: 200px ;
    height: 5px;
    margin: 0;

}
.ending{
    display: grid;
    grid-template-columns: auto auto;
}
#rmit-logo{
    /* text-align: right; */
    justify-self: right;
}
.ending-container{
    color: white;
    display: grid;
    width: 100vw;
    /* height: 500px; */
    margin: 0 0 0 -100px;
    grid-template-columns: 30% 70%;
    background-color: black;
    text-align: left;
    /* padding-bottom: 100px; */
}
.message-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px
}
.expand500{
    height: 250px;
} 
.title{
    display: flex;
    align-items: center;
}
.about ~ .footer{
    margin: -5px 0;
    
    /* transform: translateY(-1050px); */
}
