.footer { 
    box-sizing: border-box;
    background-color: #2B2B2B;
    height: 270px;
    place-self: center;
    padding: 30px 60px;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    color: white;
    font-family: rubik-light;
    margin-top: 50px;
    z-index: 1;
}


.footer-links{
    padding: 0 10px;
    text-align: center;
    grid-column: 2/3;
    margin-bottom: 40px;
}
.footer-links a{
    color: white;
    margin: 5px;
    border-radius: 18px;
    text-decoration: none;
    
}
.contact-info{
    text-align: center;
}
.contact-wrapper img{
    margin: 0 20px;
    height: 50px;
    width: 50px;
}
.link-wrapper{
    display: grid;
    background-color: #D9D9D9;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 37px;
    border-radius: 23.5px;
    align-items: center;
    margin-bottom: 30px;
}
.link-wrapper a{
    font-family: rubik;
    color: black;
    font-size: 14px;
    line-height: 25px;
    
}
.ld-footer p{
    font-size: 10px;
}
.ld-footer{
    text-align: left;
}
.cd-footer a{
    margin: 10px;
}
.rd-footer{
    text-align: right;
}
.rd-footer p{
    font-size: 10px;
}