.gallery-container{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 100%;
    /* height: 100vh; */
    width: 100vw;
    margin-top: -100px;
    background-color: black;
    position: relative;
    cursor: grab;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.ending-text{
    width: 600px;
    padding: 100px !important;
}
.slide-back{
    transition: transform 0.8s;
}
.grabbing{
    cursor: grabbing;
}
._3d{
    height: 100%;
    position: relative;
    z-index: 0;
}
.overlay{
    position: relative;
    z-index: 2;
    background-color: red;
    height: 100vh;
}
.gallery-container h1{
    letter-spacing: 0.1em;
}

.gallery-text{
    padding: 0 0 0 100px ;
    /* overflow: overlay; */
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    color: white;
    background-color: black;
}
.bold{
    font-family: rubik-bold !important;
    opacity: 1 !important;
}
.gallery-text h3{
    /* font-size: 1.2em; */
    font-family: rubik;
    text-decoration: underline;
    position: relative;
    cursor: pointer
}
.gallery-text div p{
    font-size: 1.3em;
    font-family: rubik;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
    opacity: 0.5;
}
.navbar-container{
    z-index: 1;
    position: relative;
    /* pointer-events: none; */
}

#video-wrap{
    box-sizing: border-box;
    display: flex;
    
    /* height: 100%; */
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}

#semi-black{
    
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}

#img-moss{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}
#img-black{
    box-sizing: border-box;
    display: flex;
    
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}
#img-purple{
    box-sizing: border-box;
    display: flex;
    
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}
#img-blue{
    box-sizing: border-box;
    display: flex;
    
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}
#img-dark-moss{
    box-sizing: border-box;
    display: flex;
    
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
}
.gallery-container img{
    max-height: 100vh;
    user-select: none;
    /* user-drag: none;    */
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.graphic-section{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
    justify-items: center;
    
}
.graphic{
    gap: 100px;
    padding: 0px 50px;
}
.gallery-pics{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    background-color: black;

    /* padding: 50px; */
}
.graphic{
    display: flex;
}
.illustration{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 70px 50px;
    gap:10px;
}

.scroll-bar-container{
    width: 1000px;
    height: 10px;
    background-color: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    cursor: pointer;
    border-radius: 17px;
    bottom: 0px; 
    left: 100px;
    margin-top: 300px;
    margin-bottom: 20px;
    
}
#gallery-content ~ .btn-container{
    right:100px
}
.scroll-bar-thumb{
    width: 0;
    border-radius: 17px;
    height: 10px;
    background-color: white;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 0;
}
#back-btn2{
    width: 600px !important;
}
#back-btn3{
    width: 160px !important;
    height: 25px;
    color: rgba(255, 255, 255, 0.5);;
    font-family: rubik;
    background-color: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(10px);
    
    
}

@media only screen and (max-width: 1680px){
    .about .back-btn{
        top: 75px !important;
    }

}
