.home-page{
    width: 100vw;
    height: fit-content;
    color: black;
    background-color: transparent;
    overflow-y: hidden;
}
.navbar-container ~ .home-page{
    margin-top: -50px !important;
}
.home-page ~ .footer{
    margin-top: -50px;
}
#thaivietpic{
    /* overflow-y: auto; */
    grid-row: 1/3;
    grid-column: 2/3;
    position: relative;
    z-index: 0;
    transform: scale(0.8);
    transform-origin:bottom;
    /* place-self:end; */
}

@keyframes appear1 {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }
@keyframes appear2 {
    0% {
      transform: translate(0,-100%);
    }
    
    100% {
      transform: translate(0,0);
    }
  }
#colored-background-side{
    background-color: #AAAAAA;
    display: flex;
}
/* .homepage */
.home-page a h4{
    font-family: clash;
}
.home-page p{
    font-size: 1.2em;
}

/* .links-container:hover{
    display: grid;
    animation: expand 0.2s;
    gap: 10px;
} */
@keyframes expand {
    0%{
        gap: 0px;
    }
    50%{
        gap: 5px;   
    }
    100% {
        gap: 10px;
    }
}

.front-text h1{
    /* font */
    max-height: 1em;
    font-size: 10.6em;
    word-spacing: 2.2rem;
    overflow: hidden;
}
.front-text h2{
    max-height: 1em;
    overflow: hidden; 
    max-width: 481px;

}
.front-text h3{
    max-height: 1.1em;
    overflow: hidden;
}
h1 span{
    display: block;
    animation: homepage-link1 3s cubic-bezier(0.77, 0, 0.175, 1);
}
h2 span{
    display: block;
    animation: homepage-link1 3s cubic-bezier(0.77, 0, 0.175, 1);
}
h3 span{
    display: block;
    animation: homepage-link1 3s cubic-bezier(0.77, 0, 0.175, 1);
}
/* h1 span:hover{
    overflow: auto;
    display: block;
    animation: homepage-link2 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
h2 span:hover{
    overflow: auto;
    display: block;
    animation: homepage-link2 1s cubic-bezier(0.77, 0, 0.175, 1);
}
h3 span:hover{
    overflow: auto;
    display: block;
    animation: homepage-link2 1s cubic-bezier(0.77, 0, 0.175, 1);
} */

.front-text h2{
    font-size: 3.8em !important;
    font-family: clash;
    color: #3E3C3C;
    overflow: hidden;

}
.front-text h3{
    font-size: 1.9em;
    overflow: hidden;
}
.front-text h4{
    font-size: 1.1em;
}
.mr-top0{
    margin-top: 0;
}
.mr-bot0{
    margin-bottom: 0;
}
.align-right{
    text-align: right;
}
.front-text{
    height: 100vh;
    margin-left: 50px;
    text-align: left;
}

.front-text-divider p{
    font-family: rubik-light;
    /* grid-column: 1/2; */
}
.front-text-divider .links{
    /* grid-column: 1/2; */
    height: fit-content;
}
.home-page .footer{
    margin-top: 0;
}
.front-text-divider{
    position: relative;
    z-index: 0;
    height: 100%;
    display: grid;
    grid-template-columns: calc(50% - 25px) 50% auto;
    grid-template-rows: auto 1fr;
    text-align: justify;
}
.links-container{
    display: grid;
    text-align: left;
    gap: 0;
}
.links-container:hover{
    gap: 10px;
    animation: expand 0.2s;
}
.links-container a{
    font-family: clash-medium;
    display: block;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.slideleft{
    animation: slideleft 0.1s;
}
.sliderigth{
    animation: slideright 0.1s;
}
@keyframes slideleft {
    0%{
        transform: translateX(-25px) scale(0.8);
    }
    100%{
        transform: translate(0,0) scale(0.8);
    }
}
@keyframes slideright {
    0%{
        transform: translateX(25px) scale(0.8);
    }
    100%{
        transform: translate(0,0) scale(0.8);
    }
}
.links-container a h4{
    
    overflow: hidden;
}
@keyframes homepage-link1 {
    0%{
        transform: translate(0,0);
    }
    
    50%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(0,0);
    }
    
}
@keyframes homepage-link2 {
    0%{
        transform: translate(0,0);
    }
    
    50%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(0,0);
    }
    
}


.background{
    /* background-color: red; */
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0 -50px;
    position: absolute;
    top:0;
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: red; */
}
.links-container #slash{
    margin: 0 !important;
    width: 400px;
    height: 2px;
}

.btn-container{
    margin-top: 300px;
    margin-bottom: 20px;
    font-family: rubik-bold;
    display: grid;
    grid-template-columns: 80% auto;
    /* text-align: right ; */
}

.btn-wrapper{
    width: 200px;
    background-color: #D9D9D9;
    margin-right: 0;
    text-decoration: none;
}

.software-used{
    color: black; 
    text-align: left;
    margin-left: 200px;
}
/* .logos-container{
    min-width: 100%;
    min-height: 100px;
    margin: 0;
} */
.logos-container img{
    margin: auto 10px;
    text-align: center;
}

#about-me-redirect-btn{
    margin-left: 100px;
    width: 200px;
}
.wrap-4-col{
    margin: 0 150px 20px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
}
.wrap-3-col{
    margin: 0 150px 20px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;

}
/* .wrap-3-col  */
.about-me-container{
    color: black;
    text-align: justify;
    padding: 0 200px;
}
.text-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.roles-container{
    color: black;
    text-align: justify;
    margin-left: 200px;
}
.roles-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}
.role{
    color: black;
}
.work-script{
    display: grid;
    gap: 10px 100px;
    grid-template-columns: auto auto auto;
    text-align: left;
    align-items: baseline;
    margin: 100px 200px;
}

.highlight .wrap-3-col + .wrap-4-col{
    text-align: center;
}
.highlight{
    margin: 100px 200px;
}
.social-media{
    text-align: left;
    margin: 100px 200px;
}
.platform-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: start;
    cursor: pointer;
}
.platform-wrapper{
    display: grid;
    grid-template-rows: auto auto auto auto;
    text-align: center;
    gap: 1px;
    justify-items: center;
    align-content: center;
    text-decoration: none;
    color: black;
    
}
.grey-background{
    background-color:  #F2F2F2;
}

.newspaper-container{
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: center; */
    gap: 20px;
    
}
.home-page .pd100{
    padding:  25px 100px 100px 0;
}
.newspaper-box{
    border: 1px solid rgba(0, 0, 0, 0.50);
    word-break: keep-all;
    height: 117px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3px;
    overflow: hidden;
    /* color: ; */
}
.newspaper-box img{
    width:  256px;
    height: 117px;
    border-radius: 2px;
    margin-right: 5px;
    object-fit: cover;
    place-self: end;
}
.newspaper-box span{
    font-family: rubik-italic;
    margin: 5px 0;
    font-size: 10px;
    /* max-height: 20px; */
}
.newspaper-box h3{
    margin: 0;
    font-size:  12px;
    text-transform:uppercase;
}
.press-script{
    padding: 3px;
}
.newspaper-box a{
    color: black;
    text-decoration: none;
}
.newspaper-box a a{
    font-size: 10px;
    font-family: rubik-italic-light;
}
.work-script  h4{
    font-family: rubik-light;
}
.newspaper{
    margin: 100px 200px;
    text-align: left;
}
.contact .footer{
    margin-left: 50px;
}

.sd_pic{
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s ease-in-out;
}
.sd_pic:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
}

.home-page img{
    /* width: auto; */
    height: auto;
}
@media only screen and (max-width: 1800px){
    .front-text h1{
        font-size: 8.5em;
    }
    .front-text h2{
        font-size: 6.5em;
    }
    .home-page p{
        
        font-size: 0.9em;
    }
    .home-page a{
        font-size: 0.9em;
    }
    .newspaper-container img{
        width:  calc(753px * calc(1800 / 1920)) !important;
        height: calc(117px * calc(1800 / 1920)) !important;
       
    }
    
}
@media only screen and (max-width: 1680px){
    
    
    .front-text h1{
        font-size: 9.1em;
    }
    .front-text h2{
        font-size: 5em;
    }
    .front-text h3{
        font-size: 1.6em;
    }
    .home-page p{
        font-size: 1em;
    }
    .front-text h4{
        font-size: 1.2em;
    }
    .newspaper-container img{
        width:  calc(753px * calc(1680 / 1920)) !important;
        height: calc(117px * calc(1680 / 1920)) !important;
       
    }
}
@media only screen and (max-width: 1600px){
    .front-text h1{
        font-size: 8.6em;
    }
    .front-text h2{
        font-size: 3.5em !important;
    }
    .front-text h3{
        font-size: 1.45em;
    }
    .home-page p{
        font-size: 0.9em;
    }
    .front-text h4{
        font-size: 1em;
    }
    .newspaper-container img{
        width:  calc(753px * calc(1600 / 1920)) !important;
        height: calc(117px * calc(1600 / 1920)) !important;
       
    }
}
@media only screen and (max-width: 1440px){
    /* #thaivietpic{
        transform: scale(0.7);
    } */
    @media only screen and (max-height: 900px) {    
        .front-text h1{
            font-size: 7.6em;
        }
        .front-text h2{
            font-size: 4.5em;
        }
        .front-text h3{
            font-size: 1.3em;
        }
        .home-page p{
            font-size: 0.8em;
        }
        .front-text h4{
            font-size: 1em;
        }
    }
    .newspaper-container img{
        width:  calc(753px * calc(1440 / 1920)) !important;
        height: calc(117px * calc(1440 / 1920)) !important;
       
    }
    
}
@media only screen and (max-width: 1400px) {
    .front-text h1{
        font-size: 7.3em;
    }
    .front-text h2{
        font-size: 4.5em;
    }
    .front-text h3{
        font-size: 1.16em;
    }
    .front-text-divider p{
        font-size: 1em !important;
    }
    .front-text h4{
        font-size: 1.2em;
    }
    .newspaper-container img{
        width:  calc(753px * calc(1400 / 1920)) !important;
        height: calc(117px * calc(1400 / 1920)) !important;
       
    }
}