.loading{
    /* margin-left: -100px; */
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #353842;
}
.spinner {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
