.navbar-container{
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%; 
    border:  none;
    background-color: transparent;
    margin-bottom: 50px;
    position: relative;
}
.navbar-journey-background{
    background-size: 100%;
    background-image: url('../resources/journeycut.png');
}
.navbar{
    background-color: transparent;
    /* margin-top: 25px; */
    height: 45px;
    border-radius: 20px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 0;
    margin-left: -26px;
}
.navbar a {
    text-decoration: none;
    margin: auto;
    position: relative;
    z-index: 10;
    color: black;
}
#navbar-links1:hover{
    font-family: rubik-bold ;
}
#navbar-links2:hover{
    font-family: rubik-bold ;
}
#navbar-links3:hover{
    font-family: rubik-bold ;
}
#navbar-links4:hover{
    font-family: rubik-bold ;
}

.logo-container{
    height: 45px;
    border: none;
    border-radius: 22px;
    margin: 0 50px;
    width: 200px;
    display: flex;
}

#logo-svg{
    height: 28px;
    place-self: center;
    cursor: pointer;
}
