.works{
    margin: 0 100px;
}

.project{
    text-align: center;
}
.projects-wrapper{
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
}
.msg{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    gap: 50px;
    font-size:20px;
}
.msg a{
    color: black;
    text-decoration: underline;
}