.automated-robot{
    
    padding: 0 200px;
}  
.project-member-4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px black solid;
    width: 100vw;
}
.automated-robot .back-btn{
    margin-bottom: 100px;
}
.overview{
    text-align: left;
}
.grid-2-col{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 50px;
    justify-items: stretch;
}
.target{
    text-align: left;
}
.col-2{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}
.method{
    text-align: left;
}
.database{
    text-align: left;
}
.progress{
    text-align: left;
}
.reseach-manufacture{
    text-align: left;
    display: grid;
}
.reseach-manufacture img{
    justify-self: center;
}
.working-principle{
    text-align: left;
    display: grid;
}
.working-principle img{
    justify-self: center;
}
.demo-vid{
    width: 99%;
    text-align: left;
}
.result{
    text-align: left;
}
.union-award{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.union-award img{
    margin: 50px;
    place-self: center;
}
@media only screen and (max-width: 1700px) {
    .automated-robot .expand-fullscreen{
        margin-left: -25px;
    }
    .automated-robot .footer{
        transform: translateX(25px);
    }
    .automated-robot{
        padding: 0 25px;
    }
    
}