.olympus{
    padding: 0 200px;
    max-width: 100vw;
    text-align: left;
}
#only{
    grid-column: 1/7;
}
.olympus .project-member-6{

    margin-left: -50px;
}
.olympus .grid-2-col{
    gap: 10px;
    justify-items: stretch;
}
.grid-2-col-2-row{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    text-align: center;
    gap: 50px;
    justify-content: center;
}
.olympus .back-btn{
    margin-bottom: 100px;
}
@media only screen and (max-width: 1700px) {
    .olympus{
        padding: 0 25px;
    }
    .olympus .expand-fullscreen{
        margin-left: -25px !important;
    }
    .olympus .footer{
        margin-left:25px;
    }
}