.virtual_reality_model{
    padding: 0 200px;
    margin: 0;
    overflow-x: hidden;
    
}
.project-title{
    width: 100%;
    text-align: left;
}
.demo img{
    width: 100%;
}
.project-member-5{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 2px black solid;
    width: 100vw;
    
} 

.about-project{
    display: grid;
    grid-template-columns: auto 50%;
    justify-items: stretch;
    text-align: left;
    margin-bottom: 100px;
    /* word-wrap: d; */
}
.col-2{
    display: flex;
    align-items: baseline;
    text-align: justify;
    gap: 5px;
}
.grid-2-col{
    display: grid;
    grid-template-columns: 50% 50%; 
    gap: 10px;
    justify-items: center;
}

.project-script{
    text-align: justify;
    padding: 0  20px 0 0;
}
.grid-2-col img{
    width: 95%;
}
.demo-vid{
    width: 100%;
}
.demo{
    /* object-fit: cover; */
    margin: 10px 0;
    text-align: left;
}

.vertical-center{
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
}
.vertical-center img {
    margin-bottom: 10px;
}
.practical-experince{
    text-align: left;
}
.virtual_reality_model .award-container img{
    margin: 0 ;
}
#center-award{
    grid-column: 1/3;
}

@media only screen and (max-width: 1700px) {
    .virtual_reality_model{
        padding: 0 25px
    }
    .virtual_reality_model .expand-fullscreen{
        margin-left: -25px;
    } 
    .virtual_reality_model .footer{
        transform: translateX(25px);
    }
}
.virtual_reality_model .back-btn{
    margin-bottom: 100px;
}
.virtual_reality_model #script{
    font-size: 15px;
}
