.mixigaming{
    padding: 0 50px;
    background-color: black;
    max-width: 100%;
    color: white;
    background-clip: padding-box;

}
.img-container{ 
    display: grid;
    grid-template-columns: 100vw;
    padding: 0 150px;
    text-align: left;
}

.grid-3-col{
    /* margin: 50px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% auto auto;
    text-align: left;
    justify-content: space-evenly;
    gap:10px;
}
.flex-2-row{
    display: flex;
    flex-direction: column;
}
.mixigaming .flex-col{
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 0 auto;
    text-align: left;
    place-self: center;
    /* grid-template-columns: 50% 50%; */
    /* justify-items: center; */
}
.mixigaming .flex-col .center-img{
    place-self: center;
}

.mixigaming .back-btn{
    margin-bottom: 100px;
}
.mixigaming .back-btn a{
    color: white;
}
.mixigaming #back-pointer{
    border: white;
    border-style: none none solid solid;
}
.flex-1-col{
    display: flex;
    flex-direction: column;
}
