.App {
  text-align: center;
  max-width: 100vw;
  position: relative;
  display: flex;
  overflow: hidden;
}
#App{
  max-width: 100% ;
  /* height: 100vh; */
  /* background-image: url('./resources/Group 130.png'); */
}

#App{
  position: relative;
  scroll-behavior: smooth;
  /* -webkit-transition: all .5 ease-in-out; */
}
.btn-container{
  margin-top: 300px;
  margin-bottom: 20px;
  font-family: rubik-bold;
  display: grid;
  grid-template-columns: auto;
  text-align: center; 
  position: fixed;
  z-index: 1;
  bottom: 0px; 
  right: 10px;
}
.mr0{
  margin: 0;
}
/* .btn-wrapper{
  width: 200px;
  background-color: #D9D9D9;
  margin-right: 0;
  text-decoration: none;

} */
.homepage-button{
  background-color: #D9D9D9;
  color: white;
  border: none;
  border-radius: 25px;
  height: 42px;
  width: 42px !important;
  font-size: 15px;
  font-family: rubik-bold;
  cursor: pointer;
}
.underline-span{
  text-decoration: underline !important;
}
.bold-span{
  font-family: rubik-bold !important;
}
.highlighted-span{
  color: #760000;
}
.gold-span{
  color: #B59110;
}
.blue-span{
  color: #002072;
}
.none-decoration{
  text-decoration: none !important;
}
.gold-background{
  background-color: #B59110 !important;
}
.white-background{
  background-color: white !important;
}
.black-background{
  background-color: black !important;
}
.grey-span{
  color: #707070;
}
.black-span{
  color: black;
}
.white-span{
  color: white;
}
#slash{
  margin-left: 10px;
  background-color: black;
  width: 150px;
  height: 3px;
  /* stroke: solid; */
  border-radius: 25px;
}
#dot{
  background-color: black;
  margin-left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.center-items{
  text-align: center !important;
}
.yellow-background{
  background-color: #FEEA00 !important;
}
.expand-fullscreen{
  width: 100vw;
  margin-left: -200px;
}
h1{
  font-family: clash-medium;
  font-size: 4em;
}
h2{
  font-family: rubik-bold;
}
h3{
  font-family: rubik-bold;
} 
h4{
  font-family: rubik-bold;
}