html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'rubik';
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'clash-medium';
  src: url('./fonts/ClashGrotesk-Medium.otf');
}
@font-face {
  font-family: 'clash';
  src:  url('./fonts/ClashGrotesk-Semibold.otf');
}
@font-face {
  font-family: 'rubik';
  src: url('./fonts/BeVietnamPro-Regular.ttf');
}
@font-face {
  font-family: 'rubik-bold';
  src: url('./fonts/BeVietnamPro-SemiBold.ttf');
}
@font-face {
  font-family: 'rubik-medium';
  src: url('./fonts/BeVietnamPro-Medium.ttf');
}
@font-face {
  font-family: 'rubik-light';
  src: url('./fonts/BeVietnamPro-Light.ttf');
}
@font-face{
  font-family: 'rubik-italic-light';
  src: url('./fonts/BeVietnamPro-LightItalic.ttf');
}
@font-face {
  font-family: 'rubik-italic';
  src: url('./fonts/BeVietnamPro-Italic.ttf');
}