.milo{
    text-align: center;
    max-width: 1920px;
    padding: 0 200px;
}
.milo .back-btn{
    margin-bottom: 100px;
}
.milo{
    width: auto;
}
.milo .grid-2-col{
    text-align: justify;
    margin-top: 100px;
    grid-template-rows: auto;
    justify-items: normal;
    gap:50px;
    /* align-items: center; */
    /* grid-template-columns: auto; */
}
.grid-2-col img{
    place-self: center;
}
.milo .col-2{
    height: fit-content;
}
#milo-expand{
    grid-row: 1/2;
    grid-column: 2/3;
}
.milo-text{
    display: flex;
    flex-direction: column;
    gap:100px;
}
.milo-pics{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.milo-pics img{
    place-self: center;
}
.milo .project-member-6{

    margin-left: -50px;
}