.golden-bridge{
    margin: 0 200px;
    color: white;
    max-width: 1920px;

}
.golden-bridge .expand-fullscreen{
    background-color: black;
    color: white;
}
.golden-bridge .content-wrapper{
    display: grid;
    padding: 50px;
    gap: 50px;
    justify-content: center;

}
.golden-bridge .col-2{
    text-align: left;
    width: fit-content;
}

.golden-bridge .back-btn{
    margin-bottom: 100px;
}
.golden-bridge .back-btn a{
    color: white;
}
.golden-bridge #back-pointer{
    border: white;
    border-style: none none solid solid;
}
.golden-bridge .contact-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}
.golden-bridge .grid-2-col{
    gap: 0;
    grid-template-columns: auto auto;
}
.golden-bridge .contact-wrapper span{
    grid-column: 1/5;
}
.golden-bridge .footer{
    transform: translateX(50px);
}